
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.idea/
target/

# Ignore property files to avoid being targeted by AWS Credential Scanner Bot.
*/application.properties
*/aws.properties